<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="description" content="Pagina Inicial da aplicação">
    <meta name="keywords" content="pagina-inicial, pagina-home, inicio, home, inicial, index, ...">
    <meta name="author" content="Author Name">
    <meta name="revisit-after" content="60 days">
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <link rel="icon" th:href="@{/ico/favicon.ico}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Topnav</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
	<div id="topnav" th:fragment="topnav" class="w3-indigo">
		<div class="w3-bar w3-card">
   			<a th:href="@{/}" class="w3-bar-item w3-button w3-wide"><b>Inicio</b></a>
   			<a th:href="@{/#dashboard}" class="w3-bar-item w3-button w3-wide"><b>Painel</b></a>
   			<a th:href="@{/#about}" class="w3-bar-item w3-button w3-wide"><b>Sobre</b></a>
   		</div>
	</div>
</body>
</html>