<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="description" content="Pagina Inicial da aplicação">
    <meta name="keywords" content="pagina-inicial, pagina-home, inicio, home, inicial, index, ...">
    <meta name="author" content="Dev Academy">
    <meta name="revisit-after" content="60 days">
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <link rel="icon" th:href="@{/ico/favicon.ico}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search | Pesquisa</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        .body-align {
/*             border: 2px solid #000000; */
            padding-top: 2%;
            padding-left: 5%;
            padding-right: 5%;
            text-align: center;
        }
    </style>
</head>
<body>
	<div class="body-align">
	 	<div th:replace="~{fragments-custom/topnav :: topnav}"></div>
	 	<div style="border: 2px solid #000000;">
		 	<div style="padding-top: 20px"></div>
			<div class="w3-container" style="min-height: 400px;">
			    <h1>Pesquisa</h1>
			    	<div class="w3-third">
   	        			<form th:action="@{/search}" method="post">
			    			<input id="searchText" name="searchText" type="text" class="w3-input" style="border:2px solid" th:value="*{searchText}" th:placeholder="Produto...">
    						<button type="submit" class="w3-button w3-border">Pesquisar</button>
						</form>
					</div>
					<div class="w3-twothird">
						<table id="idTable" class="w3-table-all w3-hoverable">
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Price</th>
							</tr>
							<tbody id="idTableBody">
								<tr th:each="prod : ${productList}">
									<td><span th:text="${prod.id}"></span></td>
									<td><span th:text="${prod.name}"></span></td>
									<td><span th:text="${prod.price}"></span></td>
								</tr>
							</tbody>
						</table>
					</div>
		    </div>
		    <div style="padding-top: 20px;"></div>
	   	</div>
	   	<div th:replace="~{fragments-custom/footer :: footer}"></div>
	</div>
</body>
</html>