<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="description" content="Pagina Inicial da aplicação">
    <meta name="keywords" content="pagina-inicial, pagina-home, inicio, home, inicial, index, ...">
    <meta name="author" content="Dev Academy">
    <meta name="revisit-after" content="60 days">
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <link rel="icon" th:href="@{/ico/favicon.ico}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard | Painel</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        .body-align {
/*             border: 2px solid #000000; */
            padding-top: 2%;
            padding-left: 5%;
            padding-right: 5%;
            text-align: center;
        }
    </style>
</head>
<body>
	<div class="body-align">
	 	<div th:replace="~{fragments-custom/topnav :: topnav}"></div>
	 	<div style="border: 2px solid #000000;">
		 	<div style="padding-top: 20px"></div>
			<div class="w3-container" style="min-height: 400px;">
			    <h1>Painel</h1>
		    </div>
		    <div style="padding-top: 20px;"></div>
	   	</div>
	   	<div th:replace="~{fragments-custom/footer :: footer}"></div>
	</div>
</body>
</html>